body { background:#111; color:#fff; font-family: 'alegreya-regular', serif;  overflow-x: hidden;}

b { font-weight: bold }
i { font-style: italic; }
table { margin-bottom: 30px}
h { display: inline-block;vertical-align: top; width:calc(50% - 5px)}
hr { clear:both;  }
h3 { display:block; max-width: 900px;font-size: 24px; margin-bottom: 10px; color:black; margin: 0px auto 30px auto;line-height: 32px; font-family: 'alegreya-bold'}
list { display: block}
list ln { display: block }

ul { display: block;margin-left:30px; margin-bottom:30px;line-height: 32px }
ul li { font-size:24px; color: #505050}

header { display: block;position: relative;z-index: 9000;top: 45vh; text-align: center;}
header h1 { font-size: 55px;text-transform: uppercase; }
header h2 { color:white; }
header h2 a:hover { text-decoration: underline; }

background { display:block; background-image:url('../media/content/background.jpg'); position: fixed; width:100%; height:100%; top:0px; background-size:cover;background-position: center;}

core { display:block; position:relative; background:white;max-width: 100%;margin:0px auto;padding:60px 30px; margin-top:65vh; padding-bottom:30px;}
core #client { position: relative   }
core #navi { left:0px; padding-left:15px; }
core #navi list {  }
core #navi list ln { line-height: 30px }
core #navi list ln.chapter { counter-increment:chapter; }
core #navi list ln.chapter:before { content:"Ch " counter(chapter) ": "; color:#aaa;  }
core #navi list ln.chapter.selected:before { color:#000; font-weight: bold }
core #navi a:hover { text-decoration: underline; cursor: pointer; }
core #text { width: calc(60% - 120px);margin: 0px auto;max-width: 700px }
core #text h2 { color:black; font-size:34px; margin-bottom:20px; }
core #text img { max-width: 300px; margin:0px auto 30px; display: block }
core #text p { display: block;max-width: 900px;color: #505050;font-size: 24px;margin: 0px auto 30px auto;line-height: 32px;}
core #text p.main { font-weight: bold; margin-bottom: 30px;}
core #text p word { text-decoration: underline; }
core #text p word:hover { text-decoration: none; cursor: pointer }
core #text p word.redlink { color:red; }
core #text hr { clear:both; display: block;background:#fff;width:8px;height:8px;margin:0px auto 30px;border-radius: 30px; border:1.5px solid #666; margin-top:60px; margin-bottom:60px; }
core #note { right:0px; transition: all 250ms; }
core #note img { max-width: 100% }
core #note h2 { font-family: 'alegreya-bold'; margin-top:-30px; line-height: 30px; font-size:20px; }
core #navi, core #note { position: absolute;top:0px;width:20%; padding-top:5px; color:black; font-size:16px; padding:0px 15px; }
core table { border:1px solid #ccc; color:#333; font-family: courier}
core table td { padding:10px; }

core list.lexi { display: block; color:black; columns: 4; margin-bottom:30px; }
core list.lexi ln {}
core list.lexi ln.parent { font-family: 'alegreya-bold' }

#social img { max-width: 2%; border-radius: 3px; margin: 5px }

footer { display: block;background: #b5b5b5;color: black;padding-bottom: 5px;padding: 0px 30px;z-index: 900;position: relative;padding-top:45px }
footer h1 { font-size: 55px;text-transform: uppercase;margin-bottom: 30px }
footer p { font-size: 20px;font-weight: normal;line-height: 28px;color: #333;padding-right: 45px;font-family: 'alegreya-regular'; margin-bottom: 30px}
footer wr { width: calc(60% - 120px);margin: 0px auto;padding: 0px 30px;max-width: 700px; display: block }
footer wr .subscribe form { display: block;width: 300px;color: black;background: #999;border-radius: 80px;text-decoration: none;;text-align: left;padding-bottom: 10px;padding:10px 15px;margin-bottom:30px; position: relative; margin:0px auto; margin-bottom: 30px}
footer wr .subscribe form:hover { background:#aaa; }
footer wr .subscribe form input { background:none; }
footer wr .subscribe form input::placeholder { color:#555;} { background:none; }
footer wr .subscribe form .button { display: block;color: white;background: #000;border-radius: 80px;text-decoration: none;;text-align: center;margin-bottom: 30px;position: absolute;padding: 5px 15px;text-transform: uppercase;top: 5px;right: 7px;line-height: 22px;font-weight: bold;font-size:11px}
footer wr .subscribe form .button:hover {background-color: #aa3333; color: #fff; cursor: pointer;}
footer .credits { padding:45px 60px }
footer .credits a.social { display: inline-block;float: right;padding:7px;margin-left:5px;height:17px }
footer .credits a.social img { width:20px; filter: invert(100%); }
footer .credits a.social:hover { opacity: 0.5 }
footer .credits a.kofi { border-radius: 100px; background:#111; color:white; padding:0px 15px; line-height: 30px; display: inline-block; float:right; margin-left:10px;}
footer .credits a.kofi:hover { background:#aa3333; color:black; }
footer .credits a.about { font-weight: bold; display: inline-block; margin-top:5px; }
footer .credits a.about:hover { text-decoration: underline; }

columns { display: block;columns: 2;column-gap: 30px;margin-bottom: 45px;margin:0px 10px 30px; padding: 0px 30px }
columns h2 { display: block;font-size: 30px;color: #fff;margin-bottom: 30px;font-weight: normal;text-transform: uppercase;border-bottom:1px solid white;padding-bottom:20px; break-before: column  }
columns p { font-size: 20px;font-weight: normal;line-height: 28px;color: #999;padding-right: 45px;font-family: 'alegreya-regular'}
columns p a:hover { text-decoration: none }
columns ul { display: block;margin-left:30px;font-size:18px;margin-bottom:30px;line-height: 26px }
columns ul li {}

img.main { width: 30%;max-width: 30% !important; border-radius: 3px; margin-bottom: 30px }

/* CUSTOM */

@media (max-width: 950px) {
  core #navi { position:relative; width:calc(100% - 30px); max-width:700px; margin:0px auto; margin-bottom:30px; border-bottom:1px solid #ccc; padding-bottom:30px}
  core #text { position:relative; width:calc(100% - 30px); }
  core #note { position:fixed !important; bottom:0px !important; left:0px !important; background:#ccc; width:calc(100vw - 90px); top:auto !important; padding:30px 45px}
  core #note p { max-width:700px; margin:0px auto}
  core #note.hidden { display:none}
}