body > * { max-width: 700px; margin:0px auto; padding:30px; font-family: serif; }
body a { color: black }

header img { max-width: 100% }

main > * { margin-bottom: 30px; }
main > img { margin: 0px auto; display: block }
main a { text-decoration: underline; }